<div
    [is-dirty]="(addForm && addForm.dirty)">

    <div class="header-container">
        <span
            class="header-icon-container"
            load-image="image/add.svg">
        </span>
        {{ Resources.slotNew | translate }}
    </div>

    <div class="body-container" [formGroup]="addForm" novalidate>

        <info-box *ngIf="slotsQuotaMessage"
            typeClass="info"
            [infoText]="slotsQuotaMessage">
        </info-box>

        <!-- TODO [andimarc]: replace 'no create acess' with Resource string -->
        <info-box *ngIf="!loading && !hasCreateAcess"
            typeClass="error"
            [infoText]="'no create access' | translate">
        </info-box>

        <info-box
            *ngIf="loadingFailed"
            typeClass="error"
            [infoText]="Resources.error_unableToLoadSlotsList | translate">
        </info-box>

        <div>
            <div class="label-above">
                {{ Resources.slotNew_nameLabel | translate }}
            </div>
            <textbox
                class="name-textbox"
                [placeholder]="Resources.enterName | translate"
                [control]="addForm ? addForm.controls['name'] : null">
            </textbox>
            <div invalidmessage="name"></div>

            <div class="label-above">
                {{ Resources.slotNew_cloneConfigLabel | translate }}
            </div>

            <div>
                <ng-select
                    [loading]="false"
                    [clearable]="false"
                    [items]="cloneSrcIdDropDownOptions"
                    bindLabel="displayLabel"
                    bindValue="value"
                    class="custom-select"
                    formControlName="cloneSrcId">
                </ng-select>
            </div>
            <div invalidmessage="cloneSrcId"></div>

        </div>

        <div>
            <button
                class="custom-button"
                [disabled]="addForm.invalid || addForm.pristine || !hasCreateAcess || !!slotsQuotaMessage"
                (click)="submit()">
                {{ Resources.add | translate }}
            </button>
            <button
                class="custom-button"
                (click)="cancel()">
                {{ Resources.cancel | translate }}
            </button>
        </div>

    </div>

</div>