@import '../../../sass/common/variables';

//$close-button-color-hover: $error-color;
//$close-button-color: lighten($close-button-color-hover, 20%);


.header-container{
    width: 100%;
    height: 42px;
    text-align: left;
    color: $body-bg-color;
    font-size: 22px;
    line-height: 42px;
    //margin-bottom: 20px;
    background-color: $primary-color;

    .header-icon-container {
        display: inline-block;
        height: 42px;
        width: 42px;
        margin-right: 15px;
        float: left;
        padding: 5px;
    }
}

.body-container{
    overflow: auto;
    position: absolute;
    padding: 15px;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 10px;
    background: $body-bg-color;
}

.pill{
    display: inline-block;
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 7px;
    background: $success-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: $body-bg-color;
}

.spinner{
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    &.large{
        border-width: 10px;
        width: 60px;
        height: 60px;
    }
 }

/* Safari */
@-webkit-keyframes spin{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.submit-spinner{
    text-align: center;
    margin-top: 15px;
}

:host-context(#app-root[theme=dark]){
    .pill{
        color: $body-bg-color-dark;
    }
}